#loancal {

   width: 100%;
   height:295px;
   background-color:#000;
   color:#fff;
   margin-top:95px;
   padding-top:20px;
   text-align: center;

}
#months {

	/*margin-left:5px;*/
	width:175px;
	height:20px;
}
#amount {

	width:175px;
	height:20px;
}
#interest_rate {
	margin-left:2px;
	width:175px;
	height:20px;
}
h1{

	font-size:40px;

	/*margin-top:0px;*/
}